{% extends "base.html" %}

{% block content %}

<h2>Demographic Engagement</h2>

<div style="max-width: 800px">
    <p>

        In this page, we will analyze customer engagement across various the
        various types of commodities available for purchase. We will first do
        this by looking at <b>overall purchase amounts per household</b> across
        each available commodity...
    </p>
</div>

<h4>Commodity Purchases Per Household</h4>

<div style="max-width: 80%">
    {% include "bar_graph.html" with props=commodity_props only %}
</div>

<div style="max-width: 800px">
    <p>

        Here, we can see how much money has been spent in each household in the
        various commodity categories. This is simply based on all available data
        and is not restricted to any particular time frame.

    </p>

    <p>

        From this, we can gather some basic information about where money is
        being spent the most. First, it's clear <b>most of our sales are in
        grocery staples</b>, such as breads and pasta. Given they are staples,
        this is understandable! In the next highest "tier", households seem to
        spend a lot of money on <b>produce, dairy, frozen foods, and household
        items</b>. Note however that, if we were to combine the various
        <b>meat</b> categories, that would likely be another contender.

    </p>

    <p>

        In tandem with where money is being spent, we can find which categories
        aren't doing great. We do not sell much in the <b>activity, auto,
        electronics, outdoor, and toys</b> categories. This could suggest a
        lapse in our sales, but it is likely simply due to the fact that these
        are not as abundant at grocery stores. As such, it is likely an
        acceptable loss. Surprisingly, <b>holiday and seasonal items</b> are
        also quite low. This is perhaps to be expected, as these are often very
        limited time runs with small-sized packages, e.g. Valentine's Day
        chocolates. However, holiday items would be expected to sell a lot! This
        could suggest we need to better advertise these limited products, or
        perhaps we just need to upgrade the quality of our existing products.

    </p>

    <p>

        Ultimately, despite some interesting information, these results are
        mostly standard. Thus, it may be useful to analyze this further by
        splitting up the data more. For our purposes, we can make this split on
        a number of <b>demographic factors</b> of the purchasing household.
        There are clearly many interweaving options available for this, but it
        was decided here to focus our commodity analysis <b>based on income
        level</b>...

    </p>
</div>

<h4> Commodity Purchases Per Household By Income Range</h4>

<div style="max-width: 80%">
    {% include "bar_graph.html" with props=income_props only %}
</div>

<div style="max-width: 800px">
    <p>

        Here, we can now see the amount spent per household split up by each
        possible income range. Note, however, that any household without a
        specified income was discarded. Now, instead of looking at sheer
        quantity of sales, it's most interesting to look at categories with wide
        differences between income ranges...

    </p>

    <p>

        Interestingly, in many areas, the <b>100-150k income range spends less
        than its surrounding income ranges</b>. This can be seen across numerous
        large categories, like alcohol, dairy, frozen food, grocery staples, and
        produce. Of course, we could perhaps investigate further into this
        income range to find other contributing factors to this. Perhaps this
        income range simply tends to have smaller households than its
        surrounding income ranges. Additionally, the 150k+ range can include a
        very high range of incomes, meaning it is expected to be much higher
        than the rest. In any case, this desparity should likely be investigated
        further to verify it is not at the fault of our company itself.

    </p>

    <p>

        Past this, we can find some other general oddities worth mentioning.
        First, although it's a sad statistic to mention, <b>alcohol</b> is
        almost sold as much to those making under 35k as it is to those making
        over 150k.  This could perhaps suggest the lower-income areas are more
        prone to alcohol abuse and addiction. We could do our part to help this
        by promoting local addiction hotlines and offering our own high-income
        jobs. Additionally, <b>150k+ earners spend twice as much as any others
        on medication</b>! Again, a higher spending amount with these earners is
        to be expected but not to this degree. This is something we could
        perhaps address via advertising our pharmaceutical services with an
        emphasis on how cheap the products are. On the other end, it seems that
        <b>the highest income people are not spending as much as we would expect
        on specialty food</b>. Given the 150k spenders are far ahead in most
        other areas, this most likely suggests that households in this income
        range are going elsewhere for such specialty food, signaling a lapse in
        our product quality or advertising which should be investigated further.

    </p>

    <p>

        Clearly, there is a lot at play here, and we could attempt to go even
        further to really hash out some of these issues. However, for the sake
        of this page brevity, we will have to end the discussion here and leave
        the action items to those with the authority.

    </p>
</div>

{% endblock %}
