{% comment %}

Basic line chart that uses labels along the bottom for time-based items

Example usage:
  render(request, 'line_chart_labeled.html', {
      'title': 'City Population 2020',

      'xLabel': 'Month',
      'yLabel': 'Population',

      'labels': ['April', 'May', 'June'],

      'datasets': [
          {
              data: [100, 200, 30000],
              label: 'Kentucky',
              borderColor: '#606060',
          }, {
              data: [500, 720, 0],
              label: 'Illinois',
              borderColor: '#404040',
          }
  })

{% endcomment %}

{% block content %}
  <div id="container">
    <canvas id="line-chart-labeled"></canvas>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script>
   var config = {
      type: 'line',
      data: {
        datasets: {{ datasets|safe }},
        labels: {{ labels|safe }},
      },
      options: {
        responsive: true,
        scales: {
          xAxes: [{
            scaleLabel: {
              display: true,
              labelString: '{{ xLabel|safe }}',
            },
          }],
          yAxes: [{
            scaleLabel: {
              display: true,
              labelString: '{{ yLabel|safe }}',
            },
          }],
        },
      }
    };

    window.onload = function() {
      var ctx = document.getElementById('line-chart-labeled').getContext('2d');
      window.myLine = new Chart(ctx, config);
    };

  </script>

{% endblock %}
