{% comment %}

Basic pie chart
Will repeat given background colors as necessary to fit data

Example usage:
  return render(request, 'pie_chart.html', {
      'title': 'Population',
      'labels': ['Shanghai', 'Cincinnati', 'Guam'],
      'data': [300, 3000, 20],
      'backgroundColors': ['#606060', '#202020'],
  })

{% endcomment %}

{% block content %}
  <div id="container" style="width: 100%;">
    <canvas id="pie-chart"></canvas>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script>

    var config = {
      type: 'pie',
      data: {
        datasets: [{
          data: {{ data|safe }},
          backgroundColor: [],
          label: '{{ title|safe }}',
        }],
        labels: {{ labels|safe }}
      },
      options: {
        responsive: true
      }
    };

    window.onload = function() {
      var ctx = document.getElementById('pie-chart').getContext('2d');
      window.myPie = new Chart(ctx, config);

      const backgroundColors = {{ backgroundColors|safe }}

      // Generate enough background colors for the given data
      const dataset = myPie.data.datasets[0]
      const dataCount = dataset.data.length
      const backgroundCount = backgroundColors.length

      const backgroundRepeats = Math.ceil(dataCount / backgroundColors.length)
      const extraItems = dataCount % backgroundRepeats
      const lastSliceIndex = backgroundRepeats * backgroundCount - (backgroundCount - extraItems)

      const backgroundsRepeated = [...Array(backgroundRepeats)]
        // Copy over the colors
        .map((x) => backgroundColors)
        .flat()
        // Remove any extra colors
        .slice(0, lastSliceIndex)

      // Disable the case where first & last areas could be the same color
      if (extraItems === 1) {
        backgroundsRepeated[backgroundsRepeated.length - 1] = backgroundColors[2]
      }

      // Update graph and reload
      dataset.backgroundColor = backgroundsRepeated
      myPie.update()
    };

  </script>

{% endblock %}
